@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

body {
	font-family: 'Open Sans', sans-serif;
	background-color: #f1f1f1;
	font-weight: 200;
}


.card {
	background-color: white;
	margin: 10px;
	padding: 20px;
	box-shadow: 1px 1px rgb(200, 200, 200);
}

.delimiter_right {
	border-right: 1px #a4a4a4 solid;
}


	#page_container {
	    display: flex;
	}
		#right_column {
			flex-grow: 1;
		}

			.title {
				margin: 30px 10px;
				color: #252525;
				font-weight: 300;
			}

			#equation {
				font-size: 1.3em;
			}

			.menu_card {
				padding:0;
			}

				.menu {
					display: flex;
					cursor: pointer;
				}

					.menu > div {
						flex: 1;
						text-align: center;
						padding: 15px;
					}

					.menu .selected {
						background-color: #e4e4e4;
					}

			.menu_card_content {
				height: 100px;
			}

			#equation {
				//text-align: center;
			}

				#equation input {
					width: 40px;
					height: 20px;
				}

			




.disabled {filter: opacity(35%);}


